:root {
  --card-height: 11.2%;
  --card-width: 7.4%;
}
/* :root {
  --card-height: 102px;
  --card-width: 68px;
} */

.front, .back {
  /* height: var(--card-height);
  width: var(--card-width); */
  height: 100%;
  width: 100%;
  border: 1px solid black;
  position: absolute;
  top: 0;
  background-color: white;
  background-size: cover;
  border-radius: 5px;
}



.card-container {
  height: var(--card-height);
  width: var(--card-width);
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: top 1s, bottom 1s, right 1s, left 1s, transform 1s;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  position: absolute;
}

.selected{
  top: 55% !important;
}

.card-container.flipped > .front, .card-container.selected.front{
  transform: rotateY(180deg) !important;
}
.card-container.flipped > .back, .card-container.selected.back{
  transform: rotateY(0deg) !important;
}

.front, .back {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: -webkit-transform ease 1000ms;
  transition: transform ease 1s 1s;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.peek{
  transition: transform ease 1s;
}

.back{
  transform: rotateY(180deg) !important;
}

.front {
  transform: rotateY(0deg) !important;
}
