:root {
  --card-height: 100px;
  --card-width: 50px;
}

.front, .back {
  height: var(--card-height);
  width: var(--card-width);
  border: 1px solid black;
  position: absolute;
  top: 0;
  background-color: white;
}



.card-container {
  height: var(--card-height);
  width: var(--card-width);
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 1s;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute
}

.selected{
  top: 65% !important;
}

.card-flip {
  top: 120px;
}

.deck-container>.card-container{
  position: absolute;
}

.card-container.flipped > .front, .card-container.selected.front{
  transform: rotateY(180deg) !important;
}
.card-container.flipped > .back, .card-container.selected.back{
  transform: rotateY(0deg) !important;
}

.front, .back {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: -webkit-transform ease 1000ms;
  transition: transform ease 1s 1s;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.back{
  transform: rotateY(180deg) !important;
}

.front {
  transform: rotateY(0deg) !important;
}
