

.bar {
  position: relative;
  height: 100%;
  width: 100%;
  animation: moveLeft 5000ms linear forwards;
  background: rgb(255, 0, 0);
}

@keyframes moveLeft {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}