:root {
  --large-font: 2em;
  --medium-font: 1.5em;
  --small-font: 1.3em;
}

.container {
  height: 100%;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: black;
}

.game-panel-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

#game-title {
  text-align: center;
  font-size: var(--large-font);
}

button {
  border: 1px rbga(0,0,0,0.5);
  font-size: var(--medium-font);
}

input {
  font-size: var(--medium-font)
}