:root {
  --large-font: 2.5em;
  --medium-font: 1.5em;
  --small-font: 1.3em;
}

.disconnection-msg {
  width: 1000px;
  margin: auto;
  text-align: center;
  border: 3px solid rgb(184, 0, 0);
  background: rgb(255, 205, 205);
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  color: rgb(184, 0, 0);
}

.fa-window-close {
  float: right;
}

.fa-window-close:hover {
  color: rgb(240, 0, 0)
}

.container {
  height: 100%;
}

body, html {
  height: 100%;
  width: 100%;
  background: #F3FFC6;
}

.game-panel-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

#game-title {
  text-align: center;
  font-size: var(--large-font);
}

button {
  border: 1px rbga(0,0,0,0.5);
  font-size: var(--medium-font);
}

input {
  font-size: var(--medium-font)
}

@media (max-aspect-ratio: 7/5){
  .game-panel-container{
    justify-content: flex-start !important;
  }
  .info-panel-container {
    flex-shrink: 0;
  }
  .game-container {
    width: 70vw !important;
    height: 70vw !important;
  }
  .info-panel-container{
    flex-basis: 30% !important;
  }
}

@media (max-height: 860px) {
  .panel-title {
    font-size: 1.2em !important;
  }
  .panel-content {
    font-size: 1em !important;
  }
  .score-name {
    font-size: .9em !important;
  }
  .score-value {
    font-size: .9em !important;
  }
  #cambio-btn {
    font-size: var(--medium-font) !important;
  }
  #player-name-input {
    font-size: 2em !important;
  }
  .player-name {
    font-size: 1em !important;
  }
  .title {
    font-size: 2em !important;
  }
}

@media (max-width: 1000px) {
  .input-container>input{
    font-size: 1em !important;
  }
}