:root {
  --large-font: 2.5em;
  --medium-font: 1.5em;
  --small-font: 1.3em;
}

.disconnection-msg {
  width: 1000px;
  margin: auto;
  text-align: center;
  border: 3px solid rgb(184, 0, 0);
  background: rgb(255, 205, 205);
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  color: rgb(184, 0, 0);
}

.fa-window-close {
  float: right;
}

.fa-window-close:hover {
  color: rgb(240, 0, 0)
}

.container {
  height: 100%;
}

body, html {
  height: 100%;
  width: 100%;
  background: #F3FFC6;
}

.game-panel-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

#game-title {
  text-align: center;
  font-size: var(--large-font);
}

button {
  border: 1px rbga(0,0,0,0.5);
  font-size: var(--medium-font);
}

input {
  font-size: var(--medium-font)
}